@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Black.woff') format('woff'),
        url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

*:after, *:before {
  display: block;
  line-height: 1; 
}

input:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; 
}

input:moz-submit-invalid {
  -webkit-box-shadow: none;
  box-shadow: none; 
}

textarea:invalid {
  -webkit-box-shadow: none;
  box-shadow: none; 
}

textarea:moz-submit-invalid {
  -webkit-box-shadow: none;
  box-shadow: none; 
}

img {
  border: 0;
  display: block; 
}

button[disabled],
html input[disabled] {
  cursor: default; 
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-width: 300px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Roboto-Regular';
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  margin: 0; 
}
@media screen and (max-width: 768px) {
body {
  display: block; } 
}


h1 {
  font-family: "Gilroy-Medium";
  font-size: 50px;
  text-transform: uppercase;
  text-align: left;
  line-height: 1;
  font-weight: 400;	
  margin: 0 0 40px; 
}
@media screen and (max-width: 1200px) {
	h1 {
	  font-size: 38px; 
	} 
}
@media screen and (max-width: 1024px) {
	h1 {
	  font-size: 28px;
	  margin-bottom: 30px; 
	} 
}
@media screen and (max-width: 768px) {
	h1 {
	  font-size: 24px;
	  margin-bottom: 20px; 
	} 
}

a {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  text-decoration: none;
}
a:hover {text-decoration: none;}


.wrapper, .page {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; 
}

.container {
  width: 1080px;
  padding: 0 15px;
  margin: 0 auto; 
}
@media (max-width: 1110px) {
	.container {width: 100%;}
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: transparent;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  padding: .6em .75em;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Roboto-Black";
  -webkit-transition: 300ms;
  transition: 300ms;
  outline: 0;
  border: 0;
  position: relative; 
}
.btn::after {
	content: ' ';
    position: absolute;
    -webkit-border-radius: 33px;
    border-radius: 33px;
    z-index: -1;
    left: -3px;
    top: -3px;
    right: -3px;
    bottom: -3px;
    background: #ffc636;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
    opacity: 1; 
}
.btn--filled::after {	
    opacity: 1; 
}
.btn--filled {
	border: 3px solid transparent;
}
.btn--filled:hover {
	border: 3px solid #fff;
}
.btn--filled:hover::after {
	opacity: 0;
}

.btn--trans {
	border: 3px solid #fff;
}
.btn--trans::after {opacity: 0}

.btn--trans:hover {
	border: 3px solid transparent;
}
.btn--trans:hover::after {opacity: 1}

.flex {display: flex}

.header {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
}

.header__container {
	height: 93px;
	padding: 13px 15px;
	display: flex;
	align-items: center;
}

.header .logo-link {
	max-width: 136px;
	max-height: 67px;
	object-fit: contain;
	object-position: right center;
}

.header .phone-links {
	margin-left: auto;
	color: #fff;
}

.header .phone-links a {
	color: #fff;
	margin-right: 1.8em;
}
.header .phone-links a:hover {
	color: #FFE970;

}

.index__block1 {
	background-color: #74B4C8;
	position: relative;
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
}

.index__block1>* {
	position: absolute;
}

.index__block1 .container {
	top: 45%;
	left: calc(50% - 540px);
	transform: translateY(-50%);
	padding: 0;
	color: #fff;
	max-width: 50vw;
	font-family: 'Gilroy-Medium';
	font-weight: 400;
	z-index: 2;
}

@media(max-height: 790px) {
.index__block1 .container {top: 150px; transform: translateY(0);}
}
.index__block1 h1 {
	line-height: 1.18em;
	margin-bottom: .65em;
}
.index__block1 p {
	line-height: 1.18em;
}

.pale {opacity: .5}

.index__block1 .pale {
	margin-top: 7px; margin-bottom: 35px;
}

.index__block1 .btn + .btn {margin-left: 25px;}

.index__block1 .l-ellips--img {
	position: absolute;
	left: 0;
	bottom: 78px;
	z-index: 0;
	width: 105px; height: 105px;
	border-radius: 50%;
}

.graded {
	background: linear-gradient(232.02deg, #FF2824 -33.48%, #FDE336 64.65%),
linear-gradient(0deg, #FFE970, #FFE970);

}

.index__block1 .nograd-top--img {
	right: 99px; top: -40px;
	width: 151px;
	height: 151px;
	position: absolute;
	border-radius: 50%;
	background: #ffc636;

}

.index__block1 .nograd--img {
	position: absolute;
	right: 41px; bottom: 346px;
	width: 77px; height: 77px;
	background: #ffc636;
	border-radius: 50%;
}

.index__block1 .rb-circle--img {
	position: absolute;
	right: 0; bottom: 0;
	width: 517px; height: 517px;
	right: -260px;
	bottom: -180px;
	border-radius: 50%;
	background: linear-gradient(249.27deg, #E02227 12.04%, #FEE43B 78.37%),
linear-gradient(0deg, #FF8530, #FF8530);

}

.index__block1 .girl--img {
	position: absolute;
	bottom: 0; right: 10vw;
	max-height: 90vh;
	z-index: 3;
	widows: auto; 
	/*max-width: 45vw;*/
	object-fit: contain;
}